.textArea {
  padding: 15px;
  height: 250px;
  margin-left: 15px;
  margin-right: 15px;
  border-width: 1px;
  border-radius: 5px;
  border-color: #e2e2e2;
  background-color: #fafafa;
  text-align-vertical: top;
}

.maxCharView {
  margin-right: 20px;
  align-items: flex-end;
}

.maxCharText {
  color: #939393;
}
