.menuButtonInternalView {
  border-width: 0.5px;
  align-items: center;
  padding-bottom: 1px;
  justify-content: flex-end;
  border-top-right-radius: 5;
  border-bottom-right-radius: 5;
  border-color: rgba(220, 78, 65, 0.623);
  background-color: rgb(255, 255, 255);
}

.menuButtonText {
  color: rgb(220, 78, 65);
}
